@tailwind base;
@tailwind components;
@tailwind utilities;

.app-wrapper {
  background-image: url('/src/assets/main1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.header {
  background-image: none; /* or specify a different background */
}

*::-webkit-scrollbar {
  width: 12px;
  border-radius: 4px;
}
*::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;  
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);    
  border-radius: 20px;     
  border: 8px solid orangered;  
  color: white;
}